.card {
  border-radius: 10px;
  max-width: 900px;
  border-radius: 10px;
  background-color: rgba(155, 230, 174, 0.6);
  padding: 40px 30px 60px;
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
  margin: 20px 20px 20px 20px;
  background-image: linear-gradient(120deg, #8ae3d7 0%, #4c17c8 100%);
}
* {
  margin: 10px;
  padding: 5px 5px;
  background-color: aqua;
}

i {
  padding: 0.5rem;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}
#button-addon1 {
  background-color: #6c0329;
}
#save {
  background-color: #6c0329;
}
.mt-3 {
  background-color: #e38aab;
  border-radius: 10px;
  max-width: 900px;
  border-radius: 10px;
  background-color: rgba(230, 155, 178, 0.6);
  padding: 0px 10px;
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
  margin: 20px 0px 0px 20px;
}
